# Database
DATABASE_URL=

# QChat
QCHAT_API_URL=
QCHAT_API_TOKEN=

# Application
PORT=3000
NODE_ENV=development

# Business Hours
BUSINESS_START_MORNING=08:30
BUSINESS_END_MORNING=12:00

BUSINESS_START_AFTERNOON=13:00
BUSINESS_END_AFTERNOON=17:30

TIMEZONE=America/Sao_Paulo